/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  background-image: 
    repeating-linear-gradient(
      to right, rgba(173, 216, 230, 0.4) 0px, rgba(173, 216, 230, 0.4) 2px, transparent 2px, transparent 80px
    ),
    repeating-linear-gradient(
      to bottom, rgba(173, 216, 230, 0.4) 0px, rgba(173, 216, 230, 0.4) 2px, transparent 2px, transparent 80px
    );
  background-size: cover;
  z-index: -10; /* Moves it behind everything */
}
